@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:wght@700&family=Poppins:wght@400;500;600;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;700&display=swap");
html {
  font-size: 62.5%;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*, *::before, *::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  line-height: 1.6;
  font-family: "Poppins", sans-serif, "Bebas Neue";
  max-width: 1429px;
  background-color: #1c1c1c;
  background-image: url(/img/background.png);
  background-repeat: repeat;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  display: inline-block;
  color: #9ca3af;
}

.container {
  width: 80%;
  margin: auto;
}

p {
  font-size: 1.8rem;
  color: #9ca3af;
}

h2 {
  color: rgba(244, 244, 244, 0.9);
  font-size: 30px;
  text-transform: capitalize;
  margin-bottom: 30px;
}

h3 {
  font-size: 2rem;
  font-weight: lighter;
  color: rgba(221, 47, 199, 0.9);
  text-transform: uppercase;
}

.abaut-me {
  width: 100%;
  margin-left: 50px;
  margin-top: 50px;
  margin-bottom: 100px;
  display: flex;
  justify-content: space-between;
  text-align: center;
}
.abaut-me .bienvenido {
  text-transform: uppercase;
}
.abaut-me .text-abaut {
  width: 68%;
  height: 100%;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem;
  background-color: #222831;
  font-weight: 400;
}
.abaut-me .navbar-img {
  width: 25%;
  height: 100%;
}
.abaut-me .navbar-img .div-img {
  width: 100%;
  background-color: rgba(244, 244, 244, 0.9);
  border-radius: 10px;
}
.abaut-me .navbar-img .div-img .img {
  width: 100%;
  height: 25rem;
  object-fit: cover;
  object-position: center;
  transform: rotate(10deg);
  transition: all 0.5s;
  border: 2px solid rgb(255, 255, 255);
  border-radius: 10px;
  filter: drop-shadow(2px 2px 10px black);
}
.abaut-me .navbar-img .img:hover {
  transform: rotate(0);
}
.abaut-me .navbar-img .navbar-a {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 4rem auto;
}
.abaut-me .navbar-img .navbar-a a {
  width: 100%;
  margin-bottom: 2rem;
  border: solid 2px;
  border-color: rgba(221, 47, 199, 0.5);
  border-radius: 4px;
  cursor: pointer;
  text-align: center;
  font-size: 10px;
  font-weight: 700;
  letter-spacing: 2px;
  padding: 10px;
  color: #9ca3af;
  transition: all 0.3s ease;
}
.abaut-me .navbar-img a:hover {
  border-color: rgba(221, 47, 199, 0.9);
  color: rgba(244, 244, 244, 0.9);
}

.abaut-h2 {
  margin-left: 50px;
}
.abaut-h2 .conoceme {
  display: flex;
  margin-right: 2rem;
  white-space: nowrap;
}
.abaut-h2 .conoceme:after {
  content: "";
  display: block;
  margin: auto 0;
  margin-left: 30px;
  width: 50%;
  max-width: 400px;
  height: 1px;
  background-color: rgba(221, 47, 199, 0.9);
}

.skill {
  width: 100%;
  margin: 100px auto;
  padding: 40px;
  display: grid;
  grid-template-columns: 1fr;
}
.skill .heading .text-heading {
  display: flex;
  margin-right: 2rem;
  white-space: nowrap;
  font-size: 25px;
  color: rgba(244, 244, 244, 0.9);
  text-transform: capitalize;
}
.skill .heading .text-heading:after {
  content: "";
  display: block;
  margin: auto 0;
  margin-left: 30px;
  width: 50%;
  max-width: 400px;
  height: 1px;
  background-color: rgba(221, 47, 199, 0.9);
}
.skill .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
  gap: 20px;
}
.skill .box {
  background-color: #222831;
  border-radius: 1rem;
  border: solid 1px #222831;
  padding: 1rem 1rem;
  text-align: center;
  transition: all 0.3s ease;
}
.skill .box .icons {
  width: 80px;
  height: 80px;
}
.skill h3 {
  font-size: 2rem;
  color: rgba(221, 47, 199, 0.9);
}
.skill p {
  padding: 1rem 0;
  font-size: 1.4;
  color: aliceblue;
  line-height: 2;
}

.proyects-container {
  width: 100%;
  margin: auto;
  padding: 40px;
  margin-top: 200px;
}
.proyects-container .pr-container {
  display: flex;
  flex-wrap: wrap;
  gap: 4rem;
  margin-top: 40px;
  justify-content: center;
}
.proyects-container .proycts {
  width: 446px;
  height: 556px;
  background-color: #222831;
  padding: 3rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.proyects-container .proycts .btn-proyetc {
  display: flex;
  width: 90%;
}
.proyects-container .proycts .btn-proyetc .btn-4 {
  display: inline;
  width: 10rem;
  color: #9ca3af;
  background-color: black;
  font-size: 15px;
  text-align: center;
  margin: auto;
  border-radius: 4px;
}
.proyects-container .proycts .name-proyects {
  margin-top: 20px;
}
.proyects-container .proycts p {
  margin-top: 20px;
}
.proyects-container .proycts .btn-proyetc {
  display: flex;
  width: 90%;
  margin: auto;
  justify-content: space-between;
}
.proyects-container .proycts .btn-proyetc .btn-4 {
  display: inline-block;
  background-color: #9ca3af;
  color: black;
  font-weight: 500;
  font-size: 13px;
  text-align: center;
  padding: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2666666667);
  transition: all 0.3s;
}
.proyects-container .proycts .btn-proyetc .btn-4:hover {
  background-color: #babfc7;
  border-color: #babfc7;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2666666667);
  transition: all 0.3s;
}
.proyects-container .imgproyectos {
  max-width: 800px;
}
.proyects-container .imgproyectos img {
  width: 65%;
}
.proyects-container .title-proyects {
  display: flex;
  margin-right: 2rem;
  white-space: nowrap;
}
.proyects-container .title-proyects:after {
  content: "";
  display: block;
  margin: auto 0;
  margin-left: 30px;
  width: 50%;
  max-width: 400px;
  height: 1px;
  background-color: rgba(221, 47, 199, 0.9);
}

.container-form {
  width: 100%;
  display: flex;
  margin: auto;
  margin-bottom: 100px;
}
.container-form .text-form {
  width: 40%;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
.container-form .text-form .mail-i a {
  font-size: 15px;
  color: rgb(221, 47, 199);
}
.container-form .text-form .redes {
  display: flex;
  gap: 2rem;
}
.container-form .text-form .redes .socials1 {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
  transition: all ease 0.5s;
}
.container-form .text-form .redes .socials1 img {
  width: 100%;
  padding: 10px;
  background-color: #222831;
  object-fit: cover;
  object-position: center;
}
.container-form .text-form .redes .socials1:hover {
  transform: scale(1.2);
}
.container-form .text-form .redes .socials2 {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
  transition: all ease 0.5s;
}
.container-form .text-form .redes .socials2 img {
  width: 100%;
  padding: 10px;
  background-color: #222831;
  object-fit: cover;
  object-position: center;
}
.container-form .text-form .redes .socials2:hover {
  transform: scale(1.2);
}
.container-form .text-form .redes .socials3 {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
  transition: all ease 0.5s;
}
.container-form .text-form .redes .socials3 img {
  width: 100%;
  padding: 10px;
  background-color: #222831;
  object-fit: cover;
  object-position: center;
}
.container-form .text-form .redes .socials3:hover {
  transform: scale(1.2);
}
.container-form .form-mail {
  width: 60%;
  gap: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  margin-bottom: 2rem;
  position: relative;
}
.container-form .form-mail .mail-q {
  width: 80%;
  margin: auto;
}
.container-form .form-mail .mail {
  background-color: #222831;
  border-radius: 5px;
  border: 2px solid transparent;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2666666667);
  color: #9ca3af;
  font-size: 16px;
  line-height: 2;
  outline: none;
  resize: none;
  width: 100%;
  padding: 1rem;
}
.container-form .form-mail .text-area {
  width: 80%;
  margin: auto;
}
.container-form .form-mail .text-area .text-input {
  background-color: #222831;
  border-radius: 5px;
  border: 2px solid transparent;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2666666667);
  color: #9ca3af;
  font-size: 16px;
  line-height: 2;
  outline: none;
  padding: 0.5rem;
  resize: none;
  width: 100%;
}
.container-form .form-mail .btn-sub {
  background-color: #9ca3af;
  border-radius: 5px;
  border: 2px solid transparent;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2666666667);
  color: #222831;
  font-size: 16px;
  line-height: 2;
  outline: none;
  padding: 0.5rem;
  resize: none;
  width: 80%;
  margin: auto;
  cursor: pointer;
  opacity: 0.5;
  transition: all ease 0.3s;
}
.container-form .form-mail .btn-sub:hover {
  opacity: 0.8;
}

@media screen and (max-width: 480px) {
  .container {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .container .header {
    width: 100%;
  }
  .container .header .name {
    font-size: 3rem;
    text-transform: capitalize;
    margin-left: 10px;
  }
  .container .header .I {
    font-size: 4rem;
    font-family: "Heebo", sans-serif;
    padding: 1rem;
    margin-left: 1.3rem;
    font-weight: bold;
  }
  .container .btn .btn-2 .abaut {
    margin-left: 3rem;
  }
  .container .abaut-h2 {
    margin: 0;
    padding: 1.4rem;
  }
  .container .abaut-me {
    display: flex;
    flex-direction: column;
    margin: 0;
  }
  .container .abaut-me .navbar-img {
    width: 80%;
    margin: 0.5rem auto;
  }
  .container .abaut-me .text-abaut {
    width: 80%;
    margin: 0.5rem auto;
  }
  .container .skill {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    padding: 2rem;
  }
  .container .skill .heading .text-heading {
    margin: 1rem auto;
  }
  .container .skill .box-container {
    width: 100%;
  }
  .container .proyects-container {
    width: 100%;
    margin: 3rem auto;
  }
  .container .proyects-container .pr-container .proycts .btn-proyetc {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  .container .proyects-container .pr-container .proycts .btn-proyetc a {
    width: 100%;
  }
  .container .contacto {
    text-align: center;
    font-size: 3rem;
  }
  .container .container-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    gap: 2rem;
  }
  .container .container-form .text-form {
    width: 100%;
    text-align: center;
    line-height: 1.5;
  }
  .container .container-form .text-form .redes {
    justify-content: space-evenly;
  }
  .container .container-form .form-mail {
    width: 100%;
  }
}
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Heebo", sans-serif;
}

.header {
  width: 100%;
  height: 500px;
}

.name {
  font-family: "Heebo", sans-serif;
  text-transform: uppercase;
  font-weight: 800;
  color: rgba(221, 47, 199, 0.9);
  font-size: 50px;
  margin-left: 50px;
  margin-top: 100px;
}

.I {
  color: #f4f4f4;
  margin-left: 150px;
  font-size: 50px;
  font-family: "Heebo", sans-serif;
  font-weight: 800;
  text-transform: capitalize;
}

.btn {
  display: flex;
  width: 100%;
  margin-top: 25px;
}
.btn .btn-2 {
  text-align: center;
}
.btn .btn-2 .abaut {
  display: inline-block;
  text-decoration: none;
  width: 150px;
  margin-left: 200px;
  padding: 10px;
  color: rgba(244, 244, 244, 0.7);
  background: none;
  text-transform: uppercase;
  font-size: 10px;
  font-family: sans-serif;
  font-weight: bold;
  border: solid 2px;
  border-radius: 6px;
  position: relative;
  letter-spacing: 2px;
  border-color: rgba(221, 47, 199, 0.5);
  cursor: pointer;
  transition: all 0.5s ease;
}
.btn .btn-2 .abaut:hover {
  border-color: rgba(221, 47, 199, 0.9);
  color: rgba(244, 244, 244, 0.9);
}

/*# sourceMappingURL=main.css.map */
