.abaut-me {
    width: 100%;
    margin-left: 50px;
    margin-top: 50px;
    margin-bottom: 100px;
    display: flex;
    justify-content: space-between;
    text-align: center;


    .bienvenido{
        text-transform: uppercase;
    }
    .text-abaut{
        width: 68%;
        height: 100%;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        gap: 2rem;
        padding: 2rem;   
        background-color: #222831;
        font-weight: 400;
    }
    
    .navbar-img {
        width: 25%;
        height: 100%;
        .div-img {
            width: 100%;
            background-color: rgba(244, 244, 244, 0.9);
            border-radius: 10px;
            .img{
                width: 100%;
                height: 25rem;
                object-fit: cover;
                object-position: center;
                transform: rotate(10deg);
                transition: all .5s;
                border: 2px solid rgb(255, 255, 255,);
                border-radius: 10px;
                filter: drop-shadow(2px 2px 10px black);
            } 
        }
        .img:hover{
            transform: rotate(0);
        }
        
        .navbar-a {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 4rem auto;
          
            
            a {
                width: 100%;
                margin-bottom: 2rem;
                border: solid 2px;
                border-color: rgb(221, 47, 199, 0.5);
                border-radius: 4px;
                cursor: pointer;
                text-align: center;
                font-size: 10px;
                font-weight: 700;
                letter-spacing: 2px;
                padding: 10px;
                color: #9ca3af;
                transition: all .3s ease;
                
            }
            
        }
        
        a:hover {
            border-color: rgb(221, 47, 199, 0.9);
            color: rgb(244, 244, 244, .9);
        }
    }
    
  
}
.abaut-h2 {
    margin-left: 50px;
    .conoceme {
        display: flex;
        margin-right: 2rem;
        white-space: nowrap;
    }
    .conoceme:after {
        content: "";
        display: block;
        margin: auto 0;
        margin-left: 30px;
        width: 50%;
        max-width: 400px;
        height: 1px;
        background-color: rgba(221, 47, 199, 0.9);
    }
}
